@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

html {
    height: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

body {
    height: 100%;
    margin: 0;
}

.page-wraper {
    width: clamp(375px, 86%, 1400px);
    margin: auto;
    height: 100%;
    /* background-color: grey; */
}

.section-title {
    font-size: 1.375rem;
    font-weight: 700;
    margin-bottom: 8px;
}

.subtitle {
    font-size: 1.125rem;
    font-weight: 700;
}

/*LOGO NAV BAR */

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.header-top-nav {
    margin: 0;
    list-style: none;
    display: flex;
}

.header-top-nav li:nth-child(1) {
    margin-right: 67px;
}

.header-top-nav-item {
    padding: 38.1px 20px 39px 20px;
    text-decoration: none;
    color: black;
    font-weight: 400px;
}

.header-top-nav-item:hover {
    border-top: 2px solid #0065FC;
    color: #0065FC;
}

/* TITLE AND SUBTITLE */

.header-description p {
    margin: 0;
}

/* SEARCH BAR */

.header-search {
    margin-top: 20px;
}

.header-search-form {
    display: flex;
}

.header-search-icon {
    background-color: #F2F2F2;
    vertical-align: center;
    align-self: center;
    padding: 15px 15px;
    border-radius: 15px 0 0 15px;
    font-size: 1.125rem;
}

.header-search-button {
    background-color:  #0065FC;
    border: none;
    color: white;
    font-size: 1.125rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    padding: 15px 15px;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
}

.header-search-button:hover {
    background-color: #438bf7;
}

.header-search-bar {
    width: 250px;
    font-size: 1.125rem;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    border: 1px solid #F2F2F2;
    border-right: none;
    padding-left: 5px;
}

.header-search-bar:focus {
outline: none;
border: 2px solid #0065FC;
border-right: none;
}

/* FILTER */

.header-filter {
    display: flex;
    margin-top: 30px;
    margin-bottom: 20px;
}
  
.header-filter-button {
    background-color: white;
    border: 2px solid #D9D9D9;
    padding: 4px 20px;
    border-radius: 25px;
    font-size: 1.0625rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    margin-left: 40px;     
    white-space: nowrap;  
}
  
.header-filter-button:hover {
    background-color: #DEEBFF;
}

.header-filter-button i {
    font-size: 1.375rem;
    margin-right: 10px;
    color: #0065FC;
}

/* NBR RESULT */

.header-info {
    display: flex;
    align-items: center;
}

.header-info-boxicon {
    width: 24px;
    height: 24px;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    text-align: center;
    margin-right: 10px;
}

.header-info-icon {
    font-size: 0.65rem;
    color: #0065FC;
    vertical-align: middle;
    
}