@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');

html {
    height: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

body {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

.page-wraper {
    width: clamp(375px, 95%, 1400px);
    margin: auto;
    height: 100%;
}

section {
    margin-top: 50px;
}

.section-title {
    font-size: 1.375rem;
    font-weight: 700;
    margin-bottom: 8px;
}

.subtitle {
    font-size: 1.125rem;
    font-weight: 700;
}

a {
    color: black;
    text-decoration: none;
}

.desktop-hidden {
    display: none;
}

.card {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); 
}

.card-link {
    display: flex;
    flex-direction: column;
}

.card-title {
    font-size: 1.0625rem;
    margin: 4px 0 0 0;
}

.card-description {
    margin-left: 3%;
}

.card-price {
    font-size: 0.875rem;
    font-weight: 400;
    margin: 8px 0;
}

.grey-star {
    color: #D9D9D9;
}

.card-score {
    color: #0065FC;
    font-size: 0.7rem;
}

.price-symbol {
    font-weight: 600;
}

/*LOGO NAV BAR */

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.header-top-nav {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.header-top-nav li:nth-child(1) {
    margin-right: 67px;
}

.header-top-nav-item {
    padding: 38.1px 20px 39px 20px;
    color: black;
    font-weight: 400;
}

.header-top-nav-item:hover {
    border-top: 2px solid #0065FC;
    color: #0065FC;
}

/* TITLE AND SUBTITLE */

.header-description p {
    margin: 0;
}

/* SEARCH BAR */

.header-search {
    margin-top: 20px;
}

.header-search-form {
    display: flex;
}

.header-search-icon {
    background-color: #F2F2F2;
    vertical-align: center;
    align-self: center;
    padding: 15px 15px;
    border-radius: 15px 0 0 15px;
    font-size: 1.125rem;
}

.header-search-button {
    background-color:  #0065FC;
    border: none;
    color: white;
    font-size: 1.125rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    padding: 15px 15px;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
}

.header-search-button:hover {
    background-color: #438bf7;
}

.header-search-bar {
    width: 250px;
    font-size: 1.125rem;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    border: 1px solid #F2F2F2;
    border-right: none;
    padding-left: 5px;
}

.header-search-bar:focus {
    outline: none;
    border: 2px solid #0065FC;
    border-right: none;
}

/* FILTER */

.header-filter {
    display: flex;
    margin-top: 30px;
    margin-bottom: 20px;
}

.header-filter-button {
    background-color: white;
    border: 2px solid #D9D9D9;
    padding: 4px 2%;
    border-radius: 25px;
    font-size: 1.0625rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    margin-left: 2%;     
    white-space: nowrap;  
}
  
.header-filter-button:hover {
    background-color: #DEEBFF;
}

.header-filter-button i {
    font-size: 1.375rem;
    margin-right: 10px;
    color: #0065FC;
}

/* NBR RESULT */

.header-info {
    display: flex;
    align-items: center;
}

.header-info-boxicon {
    min-width: 24px;
    min-height: 24px;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    text-align: center;
    margin-right: 10px;
}

.header-info-icon {
    font-size: 0.65rem;
    color: #0065FC;
    vertical-align: middle;
}

/* HOTEL SELECTION */

.home-wraper .section-title {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.home-wraper .subtitle {
    margin: 40px 5%;
    color: black;
}


.fa-chart-line {
    color: #0065FC;
}

.home-wraper {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}

.home {
    width: clamp(800px, 60%, 1400px);
    background-color: #F2F2F2;
    flex-grow: 1;
    border-radius: 20px;
    padding-bottom: 40px;
}
  
.popular {
    width: max(280px, 23%);
    background-color: #F2F2F2;
    flex-grow: 1;
    border-radius: 20px;
}
  
.home-grid {
    display: grid;
    justify-content: center;
    width: 90%;
    grid-template: 199px / repeat(auto-fit, minmax(246px, 1fr));
    grid-auto-rows: 199px;
    margin: 30px auto;
    gap: 25px;
}
  
.popular-grid {
    display: grid;
    width: 90%;
    grid-template: 144px / repeat(auto-fit, minmax(252px, 1fr));
    grid-auto-rows: 144px;
    margin: 30px auto;
    gap: 30px 20px;
}
  
  
.home-grid .card-image {
    width: 100%;
    height: 123px;
    object-fit: cover;
    box-sizing: border-box;
    border: 4px solid white;
    border-radius: 20px 20px 0px 0px;
}

.popular-grid .card-image {
    width: clamp(96px, 40%, 127px);
    height: 144px;
    object-fit: cover;
    box-sizing: border-box;
    border: 4px solid white;
    border-radius: 20px 0px 0px 20px;
}

.popular-grid .card-link {
    flex-direction: row;
    justify-content: flex-start;
}

.popular-grid .card-description {
    max-width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-description-text {
    margin-top: 15px;
}

.popular-grid .card-score {
    margin-bottom: 10px;
}

.card-description-text {
    margin-top: 15px;
}

/* ACTIVITY SELECTION */

.activity {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.activity-grid {
    width: 100%;
    margin-top: 20px;
    display: grid;
    grid-template: minmax(190px, 1fr) / repeat(auto-fit, minmax(182px, 1fr));
    gap: 20px 3%;
}

.activity-grid .card-image {
    width: 100%;
    height: 389px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.activity-grid .card-title {
    margin: 5% 10% 0 10%;
    height: 50px;
}

/* FOOTER */

footer {
    width: 100%;
    margin-top: 60px;
    padding: 45px 5%;
    background-color: #F2F2F2;
    display: flex;
    column-gap: 15%;
    /* padding-left: 5%; */
}


/* .footer-section:nth-child(1) {
    margin-left: 5%;
} */

.footer-section-list {
    list-style: none;
    margin-top: 20px;
    padding: 0;
}

.footer-section-list li {
    margin-bottom: 12px;
}


@media screen and (max-width: 992px) {
    html {
        font-size: 15px;
    }

    .header-filter-button {
        margin-left: 1.5%;
    }

    .home-grid {
        width: 95%;
        grid-template: 199px / repeat(auto-fit, minmax(220px, 1fr));
        gap: 15px;
    }

    .popular-grid {
        width: 95%;
        grid-template: 144px / repeat(auto-fit, minmax(210px, 1fr));
        gap: 15px;
    }

    .popular-grid .card-description {
        margin-left: 2%;
        margin-right: 1%;
    }

    .card-description-text {
        margin-top: 5px;
    }

    .activity-grid {
        grid-template: minmax(190px, 1fr) / repeat(auto-fit, minmax(100px, 1fr));
    }

    .activity-grid .card-image {
        height: 211px;
    }

    footer {
        gap: 10%;
    }
}

@media screen and (max-width: 768px) {
    .page-wraper {
        width: max(375px, 100%);
    }
    
    .header-top  {
        flex-direction: column;
        align-items: center;
        height: auto;
        margin-bottom: 30px;
    }
    
    .header-top-logo {
        margin-top: 5%;
    }

    nav {
        width: 100%;
        margin-top: 30px;
    }

    .header-top-nav li {
        width: 50%;
        text-align: center;
    }

    .header-top-nav li:nth-child(1) {
        margin-right: 0;
    }
    
    .header-top-nav-item {
        display: block;
        width: 100%;
        padding: 23px 0;
        border-bottom: 3px solid #F2F2F2;
    }

    .header-top-nav-item:hover {
        border-top: none;
        border-bottom: 3px solid #0065FC;
    }

    .desktop-hidden {
        display: inline;
    }

    .mobil-hidden {
        display: none;
    }

    .header-search {
        margin-top: 30px;
    }

    .header-description {
        margin-right: 5.3%;
        margin-left: 5.3%;
    }

    .header-search-form {
        margin-left: 5.3%;
        margin-right: 5.3%;
    }

    .header-search-bar {
        max-width: 232px;
        flex-shrink: 1;
    }

    .header-filter {
        flex-wrap: wrap;
        row-gap: 20px;
        column-gap: 15px;
        margin: 15px 5.3%;
    }

    .header-filter .subtitle {
        width: 100%;
        margin-bottom: 0;
    }

    .header-filter-button {
        font-size: 0.8rem;
        width: 160px;
        height: 50px;
        margin: 0;
    }

    .header-filter-button i {
        font-size: 1.25rem;
        margin-right: 5px;
    }

    .header-info {
        margin: 30px 5.3%;
        font-size: 1.06rem;
    }

    .header-info-icon {
        font-size: 0.8rem;
    }

    .popular {
        order: -1;
        border-radius: 0;
    }

    .popular-grid {
        width: 90%;
    }

    .home {
        background-color: white;
    }

    .home-grid {
        width: 90%;
    }

    .home .section-title {
        margin-top: 0;
    }

    .home .subtitle {
        display: none;
    }

    .activity {
        margin-top: 0;
    }

    .activity .section-title {
        margin-left: 5.3%;
    }

    .activity-grid {
        width: 90%;
        margin: 0 auto;
        grid-template: 199px / repeat(auto-fit, minmax(220px, 1fr));
        grid-auto-rows: 199px;
    }

    .activity-grid .card-image {
        max-height: 134px;
    }

    footer {
        flex-direction: column;
    }

}